.benchmark-form {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    padding: 20px;
    border-radius: 6px;
    font-size: 18px;
    line-height: 32px;

    border: 1px solid grey;
}

.form-field {
    display: flex;
    gap: 8px;
}

.submit-button {
    height: 32px;
    font-size: 18px;
    line-height: 28px;
    /* justify-content: center; */
    /* display: flex; */
}

.benchmark-run-history {
    display: grid;
    grid-template-columns: 1fr 1fr auto auto;
    padding: 8px;
    border: 1px solid grey;
    flex-flow: column nowrap;
    padding-top: 20px;
    color: rgb(210, 255, 235);

    > div {
        /* border: 1px solid grey; */
        display: flex;
        justify-content: center;
        padding: 2px;
    }
}

.benchmark-date {
    color: rgb(74, 210, 206);
}

div.benchmark-name {
    padding: 2px 12px;
}

.benchmark-cancelled {
    color: orange;
}

.delete-run {
    cursor: pointer;
    padding: 0 8px;
    color: red;
}