.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 10px;
    color: white;
}

.board-cell {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #465879;
    width: 64px;
    height: 64px;
    border: 1px solid black;
}

.board-cell-piece {
    cursor: pointer;
}

.cell-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    
    &.cell-selected {
        background-color: #d7d78e;
        &:hover {
            background-color: #b1b176;
        }
    }

    &.cell-highlighted {
        background-color: #addd76;
        &:hover {
            background-color: #d2ff9e;
        }
    }
}


.board-row {
    display: contents;
}

.board-row:nth-child(odd) .board-cell:nth-child(odd),
.board-row:nth-child(even) .board-cell:nth-child(even) {
    background-color: #68c2c5;
}

.draggable-piece {
    /* z-index: 1; */
    cursor: pointer;
}